* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* style the body */
    font-family: Helvetica, Arial, sans-serif;
    color: #9f84bd;
}

/* apply style to header */
header {
    padding: 20px 35px;
    background-color: #9f84bd;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    margin: 0;
    display: inline;
}

header a {
    color: black;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* style the footer */
footer {
    background: #9f84bd;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: black;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
    color: #000;
}

footer a {
    color: black;
}