* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* style the body */
    font-family: Helvetica, Arial, sans-serif;
    color: #1c0221;
}

/* apply style to header */
header {
    padding: 20px 35px;
    background-color: #938274;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
    display: inline;
}

header a {
    color: white;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* style the footer */
footer {
    background: #7b5e7b;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: white;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
    color: #000;
}

footer a {
    color: black;
}

/* sections */
section {
    padding: 60px;
}

/* hero styling */
.hero {
    background-image: url("../images/IMG_1456.jpeg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    /* color: #024e76; */
    color: white;
    background-color: #938274;
    width: 500px;
    padding: 20px;
    border: solid 3px #1c0221;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #1c0221;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #1c0221;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: white;
    background-color: #1c0221;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}